<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.dao.TChengjiMapper">
  <resultMap id="BaseResultMap" type="com.fc.entity.TChengji">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stu_id" jdbcType="INTEGER" property="stuId" />
    <result column="kecheng_id" jdbcType="INTEGER" property="kechengId" />
    <result column="chengji" jdbcType="INTEGER" property="chengji" />
    <result column="xuenian" jdbcType="VARCHAR" property="xuenian" />
    <result column="del" jdbcType="VARCHAR" property="del" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, stu_id, kecheng_id, chengji, xuenian, del
  </sql>
  <select id="selectByExample" parameterType="com.fc.entity.TChengjiExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_chengji
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_chengji
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_chengji
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fc.entity.TChengjiExample">
    delete from t_chengji
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fc.entity.TChengji">
    insert into t_chengji (id, stu_id, kecheng_id, 
      chengji, xuenian, del
      )
    values (#{id,jdbcType=INTEGER}, #{stuId,jdbcType=INTEGER}, #{kechengId,jdbcType=INTEGER}, 
      #{chengji,jdbcType=INTEGER}, #{xuenian,jdbcType=VARCHAR}, #{del,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fc.entity.TChengji">
    insert into t_chengji
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="stuId != null">
        stu_id,
      </if>
      <if test="kechengId != null">
        kecheng_id,
      </if>
      <if test="chengji != null">
        chengji,
      </if>
      <if test="xuenian != null">
        xuenian,
      </if>
      <if test="del != null">
        del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stuId != null">
        #{stuId,jdbcType=INTEGER},
      </if>
      <if test="kechengId != null">
        #{kechengId,jdbcType=INTEGER},
      </if>
      <if test="chengji != null">
        #{chengji,jdbcType=INTEGER},
      </if>
      <if test="xuenian != null">
        #{xuenian,jdbcType=VARCHAR},
      </if>
      <if test="del != null">
        #{del,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fc.entity.TChengjiExample" resultType="java.lang.Long">
    select count(*) from t_chengji
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_chengji
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.stuId != null">
        stu_id = #{record.stuId,jdbcType=INTEGER},
      </if>
      <if test="record.kechengId != null">
        kecheng_id = #{record.kechengId,jdbcType=INTEGER},
      </if>
      <if test="record.chengji != null">
        chengji = #{record.chengji,jdbcType=INTEGER},
      </if>
      <if test="record.xuenian != null">
        xuenian = #{record.xuenian,jdbcType=VARCHAR},
      </if>
      <if test="record.del != null">
        del = #{record.del,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_chengji
    set id = #{record.id,jdbcType=INTEGER},
      stu_id = #{record.stuId,jdbcType=INTEGER},
      kecheng_id = #{record.kechengId,jdbcType=INTEGER},
      chengji = #{record.chengji,jdbcType=INTEGER},
      xuenian = #{record.xuenian,jdbcType=VARCHAR},
      del = #{record.del,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fc.entity.TChengji">
    update t_chengji
    <set>
      <if test="stuId != null">
        stu_id = #{stuId,jdbcType=INTEGER},
      </if>
      <if test="kechengId != null">
        kecheng_id = #{kechengId,jdbcType=INTEGER},
      </if>
      <if test="chengji != null">
        chengji = #{chengji,jdbcType=INTEGER},
      </if>
      <if test="xuenian != null">
        xuenian = #{xuenian,jdbcType=VARCHAR},
      </if>
      <if test="del != null">
        del = #{del,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fc.entity.TChengji">
    update t_chengji
    set stu_id = #{stuId,jdbcType=INTEGER},
      kecheng_id = #{kechengId,jdbcType=INTEGER},
      chengji = #{chengji,jdbcType=INTEGER},
      xuenian = #{xuenian,jdbcType=VARCHAR},
      del = #{del,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>